.App {
  margin-top : 10%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: 'Cinzel Decorative'}
.solution{
  font-size: 40px;  
}
.falseLetter  {
  margin: 5px;
}
.trueLetter{
  color: wheat;
  margin: 5px;
}

.imageBG{
  background-image: url(https://www.wallpapertip.com/wmimgs/70-708394_gray-wood-floor-background.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: -1;
}
.App-link {
  color: #61dafb;
}
.trueLetter{
  text-decoration: line-through;
}
.greenScore{
  color: greenyellow;
  font-size: 40px;
}
.yellowScore{
  color: yellow;
  font-size: 40px;
}
.redScore{
  color: red;
  font-size: 40px;
}
.wordSpan{
  color: red
  
}
